#sideMenu{
    background: var(--primary);
    height: 100vh;
    padding-top: 1vh;
}

.sideMenuItem{
    height: 5vh;
    padding-left: 2vw;
    font-size: large;
    vertical-align: middle;
    line-height: 5vh;
}


.sideMenuItem:hover{
    background:var(--secondary);
}

.sideMenuItem:active{
    background:var(--title);
}

.sideMenuItemSelected{
    background:var(--title);
    height: 5vh;
    padding-left: 2vw;
    font-size: large;
    vertical-align: middle;
    line-height: 5vh;
}